@using MicroChat.Client.Models
@using MicroChat.Client.Services
@inject ConversationService ConversationService
@implements IDisposable

@if (ConversationService.SelectedConversation != null)
{
    <div class="chat-panel">
        <div class="chat-messages">
            @foreach (var message in ConversationService.SelectedConversation.Messages)
            {
                <div class="chat-message @(message.Sender == MessageRole.User ? "user-message" : "bot-message")">
                    <div class="message-content">@message.Content</div>
                    <div class="message-time" title="@message.Time.ToString("f", System.Globalization.CultureInfo.CurrentCulture)">
                        @message.Time.ToString("HH:mm")
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="chat-panel-empty">
        <h3>请从左侧选择一个聊天</h3>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        ConversationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ConversationService.OnChange -= StateHasChanged;
    }
}
