.layout {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1; /* 占满剩余空间 */
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-area {
    flex: 1;
    padding: 16px;
    overflow: auto;
}
