@page "/"

<div class="layout">
    <Sidebar />
    <div class="content">
        <ChatHeader />
        <div class="chat-area">
            <h1>内容区</h1>
            <p>这里是主要内容。</p>
        </div>
    </div>
</div>