<!-- SidebarComponent.razor -->
@using System.Globalization
@using MicroChat.Client.IServices
@using MicroChat.Client.Models
@inject IChatService ChatService

<div class="sidebar-container">
    <div class="sidebar-header">
        MicroChat
    </div>
    <div class="chat-list">
        @foreach (var conversation in Conversations)
        {
            <div class="chat-item" @onclick="() => SelectChat(conversation)">
                <div class="icon">
                    <Icon IconSlug="openai" />
                </div>
                <div class="chat-info">
                    <div class="chat-title">@conversation.Title</div>
                    <div class="chat-latest">@conversation.Messages.Last()?.Content</div>
                </div>
                <div class="chat-time" title="@conversation.Messages.Last()?.Time.ToString("f", CultureInfo.CurrentCulture)">
                    @conversation.Messages.Last()?.Time.ToString("HH:mm")
                </div>
            </div>
        }
    </div>
    <button class="new-chat-button" @onclick="CreateNewChat">＋ 新建聊天</button>
</div>

@code {
    [Parameter]
    public EventCallback<Conversation> OnChatSelected { get; set; }

    private List<Conversation> Conversations = new();

    protected override async Task OnInitializedAsync()
    {
        Conversations = await ChatService.GetConversationsAsync();
    }

    private void SelectChat(Conversation chat)
    {
        OnChatSelected.InvokeAsync(chat);
    }

    private async Task CreateNewChat()
    {
        var newConversation = new Conversation
        {
            Id = Guid.NewGuid(),
            Title = "新聊天",
            Messages = new List<Message>()
            {
                new Message
                {
                    Id = Guid.NewGuid(),
                    Content = "Hello! How can I assist you today?",
                    Time = DateTime.Now,
                    Sender = MessageRole.System
                }
            }
        };
        await ChatService.AddConversation(newConversation);
        Conversations = await ChatService.GetConversationsAsync();
    }
}
